#introduction-section {
    height: 1vh;
    width: 100vw;
    top: 20vh;
}

.skew-m-5::after {
    transform: skewY(-5deg);
}

.skew-5::after {
    transform: skewY(5deg);
}

#top-line {
    top: 20vh;
}

.mega-thick-line {
    height: 35rem;
}

#middle-line {
    top: 21vh;
}


#bottom-line {
    top: 22vh;
}
