:root {
    /* DARK */
    --dark-background-color: #222222;
    --dark-font-color: rgb(255, 255, 255);
    --dark-highlight-color: #fffaed;
}

.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-font-color);
}

.dark .hover-underline::after {
    background-color: #ffffff;
}

.dark .normal-txt {
    color: #b0b0b0;
}

.dark .line-grad::after {
    background-image: linear-gradient(45deg, #19e2a3, #1d9d9f, #ef6895, #a76dd4);
}

.dark .line-bg::after {
    background-color: var(--light-background-color);
}

.dark .side-line {
    background-color: var(--light-background-color);
}

.dark #theme-button {
    background-color: var(--light-background-color);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
 
.dark #theme-button img {
    filter: invert(7%) sepia(8%) saturate(19%) hue-rotate(329deg) brightness(90%) contrast(84%);
}