$dark-background-color: #222222;
$dark-font-color: rgb(255, 255, 255);
$dark-highlight-color: #fffaed;
$light-background-color: #fffaed;
$light-font-color: #111111;
$light-shaded-font-color: #5b5b5b;
$light-highlight-color: #111111;

.light {
    background-color: $light-background-color;
    color: $light-font-color;

    .line-bg {
    
        &:after {
            background-color: $dark-background-color;
        }


    }

    .side-line {
        background-color: $light-highlight-color;
    }

    #theme-button {
        background-color: $dark-background-color;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    
        img {
            filter: invert(84%) sepia(5%) saturate(1314%) hue-rotate(323deg) brightness(109%) contrast(125%);
        }
    }

    .shadow-line {
    
        &:after {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 2px 6px 2px; 
        }
    }

    #navbar-wrapper  {
        background-color: #fffaedd8;
    }

    .mask-grad {

        &:before,
        &:after {
            background: linear-gradient(to right, #fffaed 0%, #fffaed99 20%, #fffaed00 100%);
        }
    }
    
    .slide-container {
        background-color: rgb(226, 226, 226);
        border-color: #1f1f1f;
    }
}







