:root {
    /* LIGHT */
    --light-background-color: #fffaed;
    --light-font-color: #111111;
    --light-shaded-font-color: #5b5b5b;
    --light-highlight-color: #111111
}

.light {
    background-color: var(--light-background-color);
    color: var(--light-font-color);
}

.light .line-grad::after {
    background-image: linear-gradient(45deg, rgb(98, 243, 224), #29bf9c, #e745c1, #c327ea);
}

.light .line-bg::after {
    background-color: #222222;
}

.light .side-line {
    background-color: var(--light-highlight-color);
}

.light #theme-button {
    background-color: var(--dark-background-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.light #theme-button img {
    filter: invert(84%) sepia(5%) saturate(1314%) hue-rotate(323deg) brightness(109%) contrast(125%);
}