$dark-background-color: #222222;
$darker-background-color: #161616;
$dark-font-color: rgb(255, 255, 255);
$dark-highlight-color: #fffaed;
$light-background-color: #fffaed;
$light-font-color: #111111;
$light-shaded-font-color: #5b5b5b;
$light-highlight-color: #111111;



body {
    background-color: $dark-background-color;
    color: $dark-font-color;
}

.hover-underline {

    &:after {
        background-color: #ffffff;
    }
}

.normal-txt {
    color: #b0b0b0;
}

.line-bg::after {
    background-color: $light-background-color;
}

.side-line {
    background-color: $light-background-color;
}

#theme-button {
    background-color: $light-background-color;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;


    img {
        filter: invert(7%) sepia(8%) saturate(19%) hue-rotate(329deg) brightness(90%) contrast(84%);
    }
}

.shadow-line {

    &:after {
        box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 2px 6px 2px;
    }
}

#navbar-wrapper  {
    background-color: #222222d8
}

.mask-grad {
    &:before,
    &:after {
        background: linear-gradient(to right, #222222 0%, #22222299 20%, #22222200 100%);
    }
}

.styled-border {
    border-color: #4d4d4d;
}

.styled-background {
    background-color: rgb(29, 29, 29);
}

.styled-background-half {
    background-color: rgb(29, 29, 29, 0.5);
}

.border-background {
    background-color: #4d4d4d;
}

.darker-background {
    background-color: $darker-background-color;
}