body {
    overflow-x: hidden;
}

#introduction-section {
    height: 56rem;

    #top-line {
        top: 15rem;
    }
    
    #middle-line {
        top: 15.5rem;
    }
    
    #bottom-line {
        top: 16rem;
    }
}

@media only screen and (min-width: 1281px) {
    #introduction-section {
        height: 39rem;
    }
}

@media only screen and (min-width: 1921px) {
    #introduction-section {
        height: 56rem;
    }
}
