body {
    overflow-x: hidden;
}

#introduction-section {
    height: 56rem;
}

#languages-section {
    height: 22rem;
}

#top-line {
    top: 15rem;
}

#middle-line {
    top: 15.5rem;
}

#bottom-line {
    top: 16rem;
}

.shopify-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.material-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}