.skew-m-5::after {
    transform: skewY(-5deg);
}

.skew-5::after {
    transform: skewY(5deg);
}

#top-line {
    top: 10rem;
}

.mega-thick-line {
    height: 35rem;
}

#middle-line {
    top: 10.5rem;
}


#bottom-line {
    top: 11rem;
}
