body {
    overflow-x: hidden;
}

#introduction-section {
    height: 56rem;

    #top-line {
        top: 15rem;
    }
    
    #middle-line {
        top: 15.5rem;
    }
    
    #bottom-line {
        top: 16rem;
    }
}

#languages-section {
    height: 22rem;
}