
/* 
Bright: #32f1a2
Dark: #2a9c6a
*/

html, body {
    overflow-x: hidden;
}

#introduction-section {
    height: 56rem;
}

#languages-section {
    height: 30rem;
}

#top-line {
    top: 10rem;
}

#middle-line {
    top: 10.5rem;
}


#bottom-line {
    top: 11rem;
}

#carousel-languages-wrapper {
    top: 0rem;
}

.slide-container {
    background-color: rgb(29, 29, 29);
    border-color: #4d4d4d;
}

.shopify-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.material-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}