.code-display {
    &::-webkit-scrollbar {
        background-color: #1e1e1e00;
    }

    &::-webkit-scrollbar-track {
        background-color: #00000000;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: #56565610;

        transition-duration: 300ms;
        transition-property: background-color;

        &:hover {
            background-color: #393939;
        }
    }
    &::-webkit-scrollbar-corner {
        opacity: 0;
    }
}

.selected-tab {
    color: #f8f8f8;


    & > p {
        filter: brightness(1.01)
    }
}

.code-background {
    background-color: #1e1e1e;
}

.nonselected-tab {
    color: rgb(155, 155, 155);


    &:hover {
        color: rgb(202, 202, 202);
    }
}

.w-code-container {
    width: 91%;
}

.w-code-editor {
    width: 90vw;
}

@media only screen and (min-width: 1024px) {
    .w-code-container {
        width: 54rem;
    }

    .w-code-editor {
        width: 57rem;
    }
}