.unity {
    border-color: rgb(223, 223, 223);
    background-color: rgb(237, 237, 237);
    color: black;
}

.csharp {
    border-color: rgb(104,33,122);
    background-color: rgb(116, 48, 133);
    color: rgb(230, 230, 230);
}

.tailwind {
    border-color: rgb(68, 198, 253);
    background-color: rgb(56,189,248);
    color: rgb(251, 251, 251);
}

.sass {
    border-color: rgb(219, 120, 168);
    background-color: rgb(205,103,153);
    color: rgb(255, 255, 255);
}

.css {
    border-color: rgb(20,108,173);
    background-color: rgb(46,156,206);
    color: rgb(255, 255, 255);
}

.php {
    border-color: rgb(68,72,130);
    background-color: rgb(113,117,170);
    color: rgb(0, 0, 0);
}

.javascript {
    border-color: rgb(239, 220, 44);
    background-color: rgb(234,212,28);
    color: rgb(0, 0, 0);
}

.typescript {
    border-color: rgb(63, 125, 191);
    background-color: rgb(47,114,188);
    color: rgb(255, 255, 255);
}

.react {
    border-color: rgb(105, 210, 239);
    background-color:  rgb(92,207,238);
    color: rgb(255, 255, 255);
}