.input {
    color: #ededed;
    box-shadow: none;
    
    &::placeholder {
        color: #cacaca
    }
    
    &:focus {
        
        color: #32f1a2;
        box-shadow: rgba(109, 123, 140, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &::placeholder {
            color: #32f1a2;
        }
    }
}

.button {
    box-shadow: none;
    &:hover {
        box-shadow: rgba(109, 123, 140, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        p {
            color: #32f1a2;
        }
    }
}