.input {
    color: #ededed;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &::placeholder {
        color: #cacaca
    }

    &:focus {

        color: #32f1a2;
        box-shadow: none;

        &::placeholder {
            color: #32f1a2;
        }
    }
}

.button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &:hover {
        box-shadow: none;
        
        p {
            color: #32f1a2;
        }
    }


}