/* 
Bright: #32f1a2
Dark: #2a9c6a
*/

html {
    scroll-behavior: smooth;
}


body {
    transition: background-color 0.3s;
}

.invis {
    color: rgb(0, 0, 0, 0);
}

.normal-txt {
    color: #747474;
    font-weight: 600;
}


.active {
    background-image: linear-gradient(
        -225deg,
        #ee7752,
        #e73c7e,
        #2a9c6a,
        #32f1a2
    );
    background-size: auto auto;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

.line-grad::after {
    background-image: linear-gradient(45deg, rgb(29, 29, 29), rgb(31, 31, 31), rgb(34, 34, 34), rgb(38, 38, 38));
}


.highlight-text {
    background-image: linear-gradient(
        -225deg,
        #b980ff 0%,
        #f97ed6 29%,
        #ef6895 67%,
        #a76dd4 100%
    );
    background-size: auto auto;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

.us-link:link {
    text-decoration: none;
}

.us-link:visited {
    text-decoration: none;
}

.us-link:hover {
    text-decoration: none;
}

.us-link:active {
    text-decoration: none;
}

.hover-underline {
    display: inline-block;
    position: relative;
    transition: color 0s;
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.clamp-w-tooltip {
    width: clamp(fit-content, fit-content, 3rem);
    max-width: 2rem;
}

.w-intro-text {
    width: 100%;
}

.max-w-slider {
    max-width: 90vw;
}

.shopify-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.material-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@media only screen and (min-width: 1280px) {
    .max-w-slider {
        max-width: 60vw;
    }
}

@media only screen and (min-width: 640px) {
    .w-intro-text {
        width: 36rem;
    }
}

.bright-text {
    color: #32f1a2;
}