#navbar-wrapper {
    height: clamp(40px, min(6.6vw, 6vh), 6vh);
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

#navbar-title {
    font-size: clamp(2rem, min(3rem, 3vw), 2.4vw);
}

.navbar-mid-item {
    width: clamp(10%, 33%, 33%)
}

#navbar-link-wrapper {
    gap: min(min(4vw, 4%), 1rem)
}

#navbar-link-wrapper > a {
    font-size: min(1.3rem, 3.3vw);
}

@media screen and (max-width: 975px) {
    #navbar-title {
        display: none;
    }

    .navbar-item {
        width: 50%;
    }

    #navbar-link-wrapper {
        margin-right: min(4vw, 1.8rem);
    }

    #navbar-link-wrapper > a {
        font-size: max(2.3vw, 1rem);
    }
}


@media screen and (min-width:1024px) {
    #navbar-link-wrapper {
        gap: max(4%, 1.8rem)
    }
}